PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/m1s2
REDIS_URL=redis://127.0.0.1:6379
JWT_ACCESS_SECRET=change_me
JWT_REFRESH_SECRET=change_me
APP_SECRET_ENC_KEY=change_me
CORS_DASHBOARD_ORIGIN=http://localhost:3000
NODE_ENV=development
CORS_EXTRA_ORIGINS=